html {
  background-image: url("../../static/background.svg");
  background-attachment: fixed;
  background-size: cover;
  font-family: Courier new;
}

body {
  color: black;
  margin: 0;
}

a:visited {
  color: unset;
}