
.nav {
  align-items: center;
  display: flex;
  font-size: 1.25rem;
  font-weight: bold;
  justify-content: flex-end;
  padding: 1rem;
}

.nav a {
  display: flex;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem;
}